h1, p, img {
    text-align: center;
}

h1 {
    text-align: 20px;
    color: blue;
}

p {
    color: darkcyan;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.center {
  display: block;
  margin: 0 auto;
}

img {
    width: 200px;
}

.output {
    color: red;
}
